.DS_Store
/kdzx_jQuery
/kdzx2020
分页.zip
富文本编辑器.zip
上传.zip
kdzx_jQuery.zip
kdzx2020.zip
university-0.0.1-SNAPSHOT.jar
university.sql

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?